@model MvcApplication1.Models.Results_Information_viewmodel6

@{
    ViewBag.Title = "Insertresultdb6";
}
<link href="~/Content/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>


<div class="container">
    <h2 style="text-align:center ">Insertresultdb6</h2>

    @using (Html.BeginForm("Insertresultdb6", "ResultsDb6", FormMethod.Post))
    {
        <table class="table-condensed">


            <tr>
                <td style="width :150px ">

                    @Html.Label("StudentID")
                </td>
                <td style="width :200px ">
                    @Html.TextBoxFor(model => model.StudentId, new { @Value = ViewBag.sid })
                </td>

            </tr>
            <tr>
                <td style="width :150px ">
                    @Html.Label("Select Subject")
                </td>
                <td>
                    @Html.DropDownList("subject", new List<SelectListItem>{
                    new SelectListItem {Text="Bengali1st",Value="Bengali1st"},
                    new SelectListItem {Text="Bengali2nd",Value="Bengali2nd"},
                    new SelectListItem {Text="English1st",Value="English1st"},
                    new SelectListItem {Text="English2nd",Value="English2nd"},
                    new SelectListItem {Text="Mathematics",Value="Mathematics"},
                    new SelectListItem {Text="Bangladesh and Global Studies",Value="Bangladesh_and_Global_Studies"},
                    new SelectListItem {Text="Science",Value="Science"},
                    new SelectListItem {Text="Religion",Value="Religion"},
                    new SelectListItem {Text="Drawing",Value="Drawing"},
                    new SelectListItem {Text="Information and Communication Technology",Value="ICT"},
                    new SelectListItem {Text="Physical Education",Value="Physical_Education"}

                    }, "")
                </td>
            </tr>
            <tr>
                <td style="width :150px ">

                    @Html.Label("Marks")
                </td>
                <td style="width :200px ">
                    @Html.TextBox("Marks")
                </td>
            </tr>

            <tr>
                <td style="width :150px "></td>
                <td>
                    <input class="btn btn-primary" type="submit" value="  Save " name="submit" style="width:150px" />
                </td>
            </tr>
        </table>




    }

    @using (Html.BeginForm("Calculateresultdb6", "ResultsDb6", FormMethod.Post))
    {
        <table>
            <tr>
                <td style="width :150px "></td>
                <td>
                    <input class="btn btn-danger" type="submit" value="  Calculate " style="width:150px" />
                </td>
            </tr>
            <tr>
                @*<td>@Html.LabelFor(model => model.Gpa, new { @Value = ViewBag.gpa })  </td>*@
            </tr>
        </table>
        <br />
        <p id="demo"></p>
    }



</div>



@*@if (ViewBag.gpa_ != null)
{
    <script>
        $(document).ready(function () {
            //document.write("@ViewBag.gpa_");

            var x = "@ViewBag.gpa_";
            document.getElementById("demo").innerHTML = x;
        });


    </script*@>