@model MvcApplication1.Admin_Login

@{
    ViewBag.Title = "Admin";
    
<link href="~/Content/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    
<link href="~/Content/custom1.css" rel="stylesheet" />
    
    
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
}


<h2>Admin</h2>

@using (Html.BeginForm("Admin", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }

    <table  align="center">
        <tr>
            <td>
                @Html.Label("Username")
            </td>
            <td height="60px">
                @Html.TextBoxFor(a => a.username)
            </td>
            <td>@Html.ValidationMessageFor(a => a.username)</td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(a => a.password)
            </td>
            <td height="60px">
                @Html.PasswordFor(a => a.password)
            </td>
            <td>@Html.ValidationMessageFor(a => a.password)</td>
        </tr>
        <tr>
            <td></td>
            <td  height ="50px"><input class=" btn btn-primary " type="submit" value="Login" />
        </tr>
        <tr>
            <td></td>
            <td  style="color:#8f0e0e" id="demo1"></td>
        </tr>

    </table>
  
}
@if (ViewBag.info != null) 
{ 
<script type="text/javascript">
    $(document).ready(function(){

        document.getElementById("demo1").innerHTML = "@ViewBag.info";
    });
</script>
}