@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2 style="text-align:center">Contact</h2>
<div class="container">
   @Html.Label("Mobile:")  +88-01850000999<br />
    @Html.Label("Phone:") +88-031-111111<br />

    <img src="~/Images/New Picture (1).bmp" /><br />

    @Html.Label("Institution Name:") Rahman Nagar Govt High School.<br />
    @Html.Label("Email:") rahmangov@hotmail.com.<br />
    @Html.Label("Institution Id:") 100001<br />
    @Html.Label("Address:") Rahman Nagar, Chittagong. Chittgang-4100
    <br />
    <br />
</div>
